body {
  background: black;
  color: white;
}

.logo {
  position: relative;
  width: 30vw;
  background: cyan;
  width: 500px;
  height: 500px;
  /* background-image: url("https://raw.githubusercontent.com/webpack/media/master/logo/icon.png"); */
  background-size: contain;
  background-repeat: no-repeat;
}
